<template>
<body>
<main>
    <br><br><br><br><br><br>
    <form id="caja-registro" action="/" method="get" name="form1">
        <h4>Ingrese sus datos para registrarse</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombres">
        <span id="n-error" aria-live="assertive"></span>

        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Apellidos">
        <span id="a-error" aria-live="assertive"></span>

        <input class="controls" type="email" name="correo" id="correo" placeholder="E-mail">
        <span id="c-error" aria-live="assertive"></span>

        <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
        <span id="p-error" aria-live="assertive"></span>

        <input class="controls" type="password" name="contrasena2" id="contrasena2" placeholder="Confirmar contraseña">
        <span id="p2-error" aria-live="assertive"></span>

        <input class="controls" type="text" name="direccion" id="direccion" placeholder="Dirección">
        <span id="d-error" aria-live="assertive"></span>

        <label> <p> <input type="checkbox" id="terminos"> Estoy de acuerdo con <a href="#">Términos y Condiciones</a> </p></label>
        <span id="t-error" aria-live="assertive"></span>

        <input type="submit" class="send-button" value="Registrar">
        <span id="s-error" aria-live="assertive"></span>
    </form>
</main>
<br><br><br>
</body>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => ({
  nombres: "", // Letras y espacios, pueden llevar acentos.
  apellidos: "", // Letras y espacios, pueden llevar acentos.
	contrasena: "", // 8 caracters, una letra mayuscula y minuscula.
  contrasena2:"", // 8 caracters, una letra mayuscula y minuscula.
	correo:"",
	direccion: ""// Letras y espacios, pueden llevar acento
  }),
  methods: {
   Registrar: function (e) {
     this.errors = [];
     if (!this.nombres) {
       alert("El nombre es obligatorio.");
     } else if (!this.validapellidos(this.nombres)) {
 this.errors.push('El nombre debe ser válido.');
 
     }
     if (!this.apellidos) {
  alert("El Apellido es obligatorio.");
} else if (!this.validapellidos(this.apellidos)) {
 this.errors.push('El apellidos debe ser válido.');
     }
     if (!this.correo) {
       alert('El correo electrónico es obligatorio.');
     } else if (!this.validEmail(this.correo)) {
       this.errors.push('El correo electrónico debe ser válido.');
     }

     if (!this.contrasena) {
  alert('contraseña es obligatorio.');
} else if (!this.validcontrasena(this.contrasena)) {
  this.errors.push('contraseña debe ser válido.');
}
if (!this.contrasena2) {
  alert('contraseña es obligatorio.');
} else if (!this.validcontrasena2(this.contrasena2)) {
  this.errors.push('El correo electrónico debe ser válido.');
} 
         if (!this.errors.length) {
  return true;
}
e.preventDefault();
   },
   validEmail: function (correo) {
     var re = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/
     return re.test(correo);
     
   },
    validapellidos: function (apellidos,nombres) {
  var re1 = /^[a-zA-ZÀ-ÿ\s]{1,40}$/
  return re1.test(apellidos,nombres);
},
    validcontrasena: function (contrasena,contrasena2) {
  var re2 = /^[a-zA-Z0-9]$/;
  
  return re2.test(contrasena,contrasena2);
   }, 
 
  }}

  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../assets/media-inicio/fondo.jpg');
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#caja-registro {
  width: 450px;
  background: #bbc0be85;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  color: white;
}
#caja-registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  background: #ffffffbb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #96badd;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
#caja-registro p {
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}
#caja-registro a {
  color: white;
  text-decoration: none;
}
#caja-registro a:hover {
  color: white;
  text-decoration: underline;
}
.send-button {
  padding: 15px 25px;
  margin: 20px;
  font-size: 16px;
  border: 2px solid rgb(52, 89, 124);
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, rgb(52, 89, 124) 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}
.send-button:hover {
  background-position: right;
  color: white;
  font-weight: 700;
}
.footer {
  background-color: #1D293F;
  margin-top: 185px;
}
.footer__copy {
  padding: 25px;
  text-align: center;
  color: #fff;
}
.footer__copyright {
  font-weight: 300px;
}
.footer__icons {
  margin-bottom: 10px;
}
.footer__img {
  width: 30px;
}
</style>